In [1]:
info = input("Enter user detail : ")
print(info)
print(type(info))

["trisha","kashipur"]
<class 'str'>

In [2]:
info = list(input("Enter user detail : "))
print(info)
print(type(info))

['[', '"', 't', 'r', 'i', 's', 'h', 'a', '"', ',', '"', 'k', 'a', 's', 'h', 'i', 'p', 'u', 'r', '"', ']']
<class 'list'>

In [3]:
import ast

In [4]:
info = input("Enter user detail : ")
print(info)
print(type(info))
info = ast.literal_eval(info)
print(info)
print(type(info))

["trisha","kashipur"]
<class 'str'>
['trisha', 'kashipur']
<class 'list'>

In [5]:
info = "['monal', 'india', 9406456789]"
info = ast.literal_eval(info)
print(info)
print(type(info))

['monal', 'india', 9406456789]
<class 'list'>

In [6]:
a = "2.6756"
a = ast.literal_eval(a)
print(a)
print(type(a))
a+2

2.6756
<class 'float'>

4.6756

In [7]:
a = "2"
a = int(a)

In [8]:
a = "[2]"
a = ast.literal_eval(a)
print(a)

[2]

In [12]:
a = 3

In [13]:
print(a)

3

In [14]:
hex(id(a))

'0x7ffb1b2c49f8'

In [15]:
a = 3
hex(id(a))

'0x7ffb1b2c49f8'

In [16]:
a = a+1
hex(id(a))

'0x7ffb1b2c4a18'

In [17]:
a = [1,2]
hex(id(a))

'0x1ee6b0402c0'

In [18]:
a.append(3)
hex(id(a))

'0x1ee6b0402c0'

In [19]:
print(a)

[1, 2, 3]

In [29]:
a = ["bio", "name", "id"]
a[0] = "hello"
print(a)

['hello', 'name', 'id']

In [30]:
a = ("bio", "name", "id", [1,2])
# a[0] = "hello"
type(a)
hex(id(a))

'0x1ee6b0493a0'

In [31]:
a = ("bio", "name", "id", [1,2], "hello")
type(a)
hex(id(a))

'0x1ee6b048c70'

In [32]:
b = list(a)
print(b)
print(type(b))
hex(id(b))

['bio', 'name', 'id', [1, 2], 'hello']
<class 'list'>

'0x1ee6b04e2c0'

In [34]:
# Ordered
a = [2,1,3,5,6]
print(a)
a.append(10)
print(a)

[2, 1, 3, 5, 6]
[2, 1, 3, 5, 6, 10]

In [35]:
# Un-Ordered (Sets)
a = {2,1,3,5,6,2,2,2,2, "add"}
a.add(0)
print(a)

{0, 1, 2, 3, 5, 6, 'add'}

In [26]:
# This code will remoce duplicate from list using set

a = [1,2,3,445455,33,33,33,453,0,0,0,0, "add"]

# method 1
a = set(a)
a = list(a)

# method 2
a = list(set(a))

print(a)

[0, 1, 2, 3, 33, 453, 'add', 445455]

In [27]:
# extend (List)

a = [1,2,3]
print(id(a))
b = ["hello", "hi"]
a = a + b
print(a)
print(id(a))

1574652537280
[1, 2, 3, 'hello', 'hi']
1574663032832

In [28]:
"hi" + "hello"

'hihello'

In [29]:
1 + 2

3

In [30]:
["hello", "hi"] + [1,2,3]

['hello', 'hi', 1, 2, 3]

In [31]:
# wrong
a = [1,2,3]
print(id(a))
b = ["hello", "hi"]
a.append(b)
print(a)
print(id(a))

1574663281024
[1, 2, 3, ['hello', 'hi']]
1574663281024

In [32]:
a = [1,2,3]
b = ["hello", "hi"]
print(id(a))
a.extend(b)
print(id(a))
print(a)

1574652537280
1574652537280
[1, 2, 3, 'hello', 'hi']

In [33]:
a = {1,2,3}
b = {"hello", "hi"}
print(id(a))
a.update(b)
print(id(a))
print(a)

1574661955744
1574661955744
{1, 2, 3, 'hello', 'hi'}

In [37]:
a = {1.1 : 0}

In [35]:
# Task is to store employee details

# lets store employee details using their id

emp_details = {
               1 : ["monal", "india"], 
               2 : ["lucas", "brazil"],
               3 : ["ashar", "Saudi arabia", 2],
               4 : ["riyan", "india"]
               }

In [36]:
emp_details[4] = ["riyan", "india"]

In [37]:
print(emp_details)

{1: ['monal', 'india'], 2: ['lucas', 'brazil'], 3: ['ashar', 'Saudi arabia', 2], 4: ['riyan', 'india']}

In [38]:
emp_details[4][0]

'riyan'

In [39]:
emp_details[4][0] = "Riyan"

In [40]:
emp_details

{1: ['monal', 'india'],
 2: ['lucas', 'brazil'],
 3: ['ashar', 'Saudi arabia', 2],
 4: ['Riyan', 'india']}

In [39]:
emp_details = {
            "001" : {
                "name" : "monal",
                "ph.no" : 1234567890,
                "address" : "india",
                "mentor_details" : {
                    "begineer_courses" : ["Data science and genai"],
                    "advance_course" : ["Computer vision"]
                }
            },
            "002" : {
                "name" : "krish",
                "ph.no" : 1234567890,
                "address" : "india",
                "mentor_details" : {
                    "begineer_courses" : ["everything"],
                    "advance_course" : ["everything"]
                }
            },
            "003" : {
                "name" : "mayank",
                "ph.no" : 1234567890,
                "address" : "india",
                "mentor_details" : {
                    "begineer_courses" : ["data science"],
                    "advance_course" : ["data engineering"]
                },
                "dummy" : ("M", "T", "W")
            }
    }

In [42]:
emp_details["002"]["mentor_details"]["advance_course"]

['everything']

In [41]:
emp_details["001"]["dummy"]

KeyError: 'dummy'

In [44]:
emp_details = {
            "001" : [1,2,3]
}

In [45]:
print(emp_details)

{'001': [1, 2, 3]}

In [46]:
emp_details["003"] = []

In [47]:
print(emp_details)

{'001': [1, 2, 3], '003': []}

In [48]:
emp_details["003"] = [1,2,3,4,5]

In [49]:
print(emp_details)

{'001': [1, 2, 3], '003': [1, 2, 3, 4, 5]}

In [50]:
emp_details.keys()

dict_keys(['001', '003'])

In [51]:
type(emp_details.keys())

dict_keys

In [52]:
list(emp_details.keys())

['001', '003']

In [53]:
emp_details.values()

dict_values([[1, 2, 3], [1, 2, 3, 4, 5]])

In [54]:
2*1

2

In [55]:
2*2

4

In [56]:
2*3

6

In [57]:
for i in range(1,100):
    print("2", "X", i, "=", 2*i)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
2 X 12 = 24
2 X 13 = 26
2 X 14 = 28
2 X 15 = 30
2 X 16 = 32
2 X 17 = 34
2 X 18 = 36
2 X 19 = 38
2 X 20 = 40
2 X 21 = 42
2 X 22 = 44
2 X 23 = 46
2 X 24 = 48
2 X 25 = 50
2 X 26 = 52
2 X 27 = 54
2 X 28 = 56
2 X 29 = 58
2 X 30 = 60
2 X 31 = 62
2 X 32 = 64
2 X 33 = 66
2 X 34 = 68
2 X 35 = 70
2 X 36 = 72
2 X 37 = 74
2 X 38 = 76
2 X 39 = 78
2 X 40 = 80
2 X 41 = 82
2 X 42 = 84
2 X 43 = 86
2 X 44 = 88
2 X 45 = 90
2 X 46 = 92
2 X 47 = 94
2 X 48 = 96
2 X 49 = 98
2 X 50 = 100
2 X 51 = 102
2 X 52 = 104
2 X 53 = 106
2 X 54 = 108
2 X 55 = 110
2 X 56 = 112
2 X 57 = 114
2 X 58 = 116
2 X 59 = 118
2 X 60 = 120
2 X 61 = 122
2 X 62 = 124
2 X 63 = 126
2 X 64 = 128
2 X 65 = 130
2 X 66 = 132
2 X 67 = 134
2 X 68 = 136
2 X 69 = 138
2 X 70 = 140
2 X 71 = 142
2 X 72 = 144
2 X 73 = 146
2 X 74 = 148
2 X 75 = 150
2 X 76 = 152
2 X 77 = 154
2 X 78 = 156
2 X 79 = 158
2 X 80 = 160
2 X 81 = 162
2 X 82 = 164
2 X 83 = 166
2 X 84 = 168
2 X 85 = 170
2 X 86 = 172
2 X 87 = 174
2 X 88 = 176
2 X 89 = 178
2 X 90 = 180
2 X 91 = 182
2 X 92 = 184
2 X 93 = 186
2 X 94 = 188
2 X 95 = 190
2 X 96 = 192
2 X 97 = 194
2 X 98 = 196
2 X 99 = 198