In [1]:
fruits=["apple","banana","orange"]
iteratable=iter(fruits)

In [2]:
print(next(iteratable)) # apple
print(next(iteratable)) # banana    
print(next(iteratable)) # orange
print(next(iteratable)) # StopIteration exception

apple
banana
orange

StopIteration:

In [8]:
print("start of for loop")
for i in fruits:
    print(i) 
print("End of for loop") 
print(i)

start of for loop
apple
banana
orange
End of for loop
orange

In [26]:
table=[1,2,3,4,5,6,7,8,9,10]
for i in table:
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [2]:
for i in range(1,11,1):
    print(2*i)

2
4
6
8
10
12
14
16
18
20

In [4]:
for i in range(1,11):
    print(2*i)

2
4
6
8
10
12
14
16
18
20

In [36]:
for i in range(1,15,4):
    print(i)

1
5
9
13

In [37]:
for element in range(1,10,3):
    print(element)

1
4
7

In [38]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [43]:
for i in [1]:
    print(i)

1

In [49]:
emp_details = {
               1 : ["monal", "india"], 
               2 : ["lucas", "brazil"],
               3 : ["ashar", "Saudi arabia", 2],
               4 : ["riyan", "india"],
               "hello":"world"
               }

In [58]:
emp_details[4]

['riyan', 'india']

In [50]:
emp_details.keys()

dict_keys([1, 2, 3, 4, 'hello'])

In [51]:
for value in emp_details.keys():
    print(emp_details[value])

['monal', 'india']
['lucas', 'brazil']
['ashar', 'Saudi arabia', 2]
['riyan', 'india']
world

### print statement

In [5]:
print("hello")

hello

In [6]:
print("hello"," world")

hello  world

In [59]:
print("hello", "world", sep="*")
print("hello", "world", sep="*", end=", ")
print("hello", "world", sep="*", end="\n")
print("hello", "world", sep="*", end="\t")

hello*world
hello*world, hello*world
hello*world

In [60]:
print("hello", "world",end="")
print("hello")
print("hello")

hello worldhello
hello

In [61]:
print("hello", end="\t")
print("hi")

hello	hi

In [62]:
print("h"*20)

hhhhhhhhhhhhhhhhhhhh

In [74]:
for i in range(6):
    print("*"*i)

*
**
***
****
*****

In [76]:
for i in range(1,6,2):
    print("*"*i)

*
***
*****

In [83]:
for i in range(5,0,-1):
    print("*"*i)

*****
****
***
**
*

In [94]:
max=3
for i in range(2,-1,-1):
    print(i*"-",(max-i)*"*",sep="")

--*
-**
***

In [7]:
'''
--*
-**
***
'''
rows = 3
for i in range(1, rows + 1):
    dashes = "-" * (rows - i)
    stars = "*" * i
    print(dashes + stars)

--*
-**
***

In [8]:
for i in range(1, 4):
    print("-" * (3 - i) + "*" * i)

--*
-**
***

In [9]:
for x in range(2,-1,-1):
    print("-"*x, end = "")
    for y in range(x,3):
        print("*", end = "")
    print()

--*
-**
***

In [10]:
max = 3
number_of_dash = 2
print(number_of_dash*"-",end="")
print((max-number_of_dash)*"*")

--*

In [11]:
max = 3
number_of_dash = 1
print(number_of_dash*"-",end="")
print((max-number_of_dash)*"*")

-**

In [12]:
max = 3
number_of_dash = 0
print(number_of_dash*"-",end="")
print((max-number_of_dash)*"*")

***

In [13]:
max = 3
for i in range(2,-1,-1):
    print(i*"-",end="")
    print((max-i)*"*")

--*
-**
***

In [14]:
for i in range(2,-1,-1):
    print(i)

2
1
0

In [15]:
max = 3
for i in range(2,-1,-1):
    a = i*"-"
    b = (max-i)*"*"
    print(a+b)

--*
-**
***

In [16]:
# problem statments
# there is a defaulter which we dont want to include for the attendance

student_id = 6

for i in range(1, 11):
    if i == student_id:
        continue
    print("Student id : ", i)

Student id :  1
Student id :  2
Student id :  3
Student id :  4
Student id :  5
Student id :  7
Student id :  8
Student id :  9
Student id :  10

In [17]:
student_ids = [1,6,7,8]

for i in range(1, 11):
    if i in student_ids:
        continue
    print("Student id : ", i)

Student id :  2
Student id :  3
Student id :  4
Student id :  5
Student id :  9
Student id :  10

In [18]:
student_id = 3

for i in range(1, 11):
    if i == student_id:
        break
    print("Student id : ", i)
print("hello")

Student id :  1
Student id :  2
hello

In [19]:
student_id = 4

for i in range(1, 11):
    if i == student_id:
        break
    print("Student id : ", i)
print("hello")

Student id :  1
Student id :  2
Student id :  3
hello